<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <br>
                <form class="form" #companyForm="ngForm" (submit)="onSubmit()">
                    <fieldset>
                        <b> <legend class="text-center header">Producto</legend></b>
                        <hr color="black" size=3>
                        <em>INGRESE LOS SIGUIENTES DATOS</em>
                        <hr color="black" size=3>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="name">Nombre</label></b>
                                </div>
                                 <div class="col-md-5">
                                <input id="name" name="name" type="text" #nombre="ngModel" [(ngModel)]="prod.name" class="form-control" required>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="detail">Descripción</label></b>
                                </div>
                                <div class="col-md-5">
                                <input id="detail" name="name" type="text" [(ngModel)]="prod.detail" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="price">Precio</label></b>
                                </div>
                                 <div class="col-md-5">
                                <input id="price" name="name" type="number" [(ngModel)]="prod.price" class="form-control" required>
                                 </div>                          
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="lot">Lote</label></b>
                                </div>
                                                                 <div class="col-md-5">
                                <input id="lot" name="name" type="text" [(ngModel)]="prod.lot" class="form-control" required>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="quantity">Cantidad</label></b>
                                </div>
                                
                                    <div class="col-md-5">
                                <input id="quantity" name="name" type="number" [(ngModel)]="prod.quantity" class="form-control" required>
                                    </div> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="category">Categoria</label></b>
                                </div>
                                 <div class="col-md-5">
                                <input id="category" name="name" type="text" [(ngModel)]="prod.category" class="form-control" required>
                                    </div>                            
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-info">Registrar</button>
                            </div>
                        </div>
                        <!-- </fieldset> -->
                    </fieldset>
                </form>
                <hr color="black" size=3>
                <h6>A continuación los datos del producto</h6>
                <hr color="black" size=3>
                <div>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre </th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Lote</th>
                                <th scope="col">Calidad</th>
                                <th scope="col">Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            
                          </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>