.form {
  width: 700px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #c0ccd3;
}

.header {
    color: black;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}