
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <br>
                <form class="form" #cliForm="ngForm" (submit)="onSubmit()">
                    <fieldset>
                        <b> <legend class="text-center header">CLIENTE</legend></b>
                        <hr color="black" size=3>
                        <em>INGRESE LOS SIGUIENTES DATOS</em>
                        <hr color="black" size=3>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <b> <label for="nombre">Cedula *</label></b>
                                </div>
                                <div class="col-md-5">
                                    <input id="id_card" name="id_card" type="number" placeholder="Cedula" class="form-control" #name="ngModel" [(ngModel)]="cli.id_card" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <b> <label for="cedula">Nombre Completo *</label></b>
                                </div>
                                <div class="col-md-5">
                                    <input id="name" name="name" type="text" placeholder="Nombre" class="form-control" #id_card="ngModel" [(ngModel)]="cli.name" required>
                                </div>
                            </div>
                        </div>

        

                        <div class="form-group">
                            <b> <label for="sel1">Empresa *</label></b>
                            <select id="company" name="company" type="text" placeholder="Empresa" class="form-control" #phone="ngModel" [(ngModel)]="cli.company" >
                              <option>Seleccione una Opcion</option>
                              <option *ngFor="let com of companyData">{{com.razon_social}}</option>
                            </select>
                          </div>
               
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" (click)="alert()" class="btn btn-info" [disabled]="cliForm.invalid">REGISTRAR CLIENTE</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            
                            <th scope="col">Nombre </th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Empresa</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Cliente of cliente; index as i">
                            <th style="display: none;">{{ i + 1 }}</th>
                            <td scope="row">{{ Cliente.name }} </td>
                            <td scope="row">{{ Cliente.id_card }} </td>
                            <td scope="row">{{ Cliente.company }} </td>
                           
        
                        </tr>
                    </tbody>
        
                </table>
            </div>
           
        </div>
       
    </div>