<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <br>
                <form class="form" #categoryForm="ngForm" (submit)="onSubmit()">
                    <fieldset>
                        <b> <legend class="text-center header"> Categoria</legend></b>
                        <hr color="black" size=3>
                        <em>INGRESE LOS SIGUIENTES DATOS</em>
                        <hr color="black" size=3>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="name">Nombre</label></b>
                                </div>
                                <div class="col-md-5">
                                <input id="name" name="name" placeholder="Nombre" disabledtype="text" [(ngModel)]="cate.name" class="form-control" required>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                <b> <label for="description">Descripcion</label></b>
                                </div>
                                <div class="col-md-5">
                                <input id="description"placeholder="Descripcion" disabledtype="text" name="name" type="text" [(ngModel)]="cate.description" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-info" [disabled]="categoryForm.invalid">Guardar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <hr color="black" size=3>
                <h6>A continuación los datos de la categoria</h6>
                 <hr color="black" size=3>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre </th>
                                <th scope="col">Descripción</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!--  <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            
                          </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>