<!-- <p>login works!</p> -->

<div class="container">
    <div class="container text-center p-5">
        <div class="row justify-content-end">
            <div class="card border-primary p-3" style="max-width: 50rem;">
                <!-- <img [src]="imgProfile" class="card-img-top" /> -->
                <div class="card-header">
                    <i class="fas fa-users text-primary"></i>
                    <h4 class="text-primary">Login</h4>
                </div>
                <div class="card-body text-primary">
                    <form>
                        <div class="form-group">
                            <input name="mail" id="mail" type="text" class="border-primary form-control"
                                placeholder="Ingrese el usuario" maxlength="10" required="required"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                        </div>
                        <div class="form-group">
                            <input type="password" class="border-primary form-control"
                                placeholder="Ingrese la contraseña" maxlength="4" required="required">
                        </div>
                        <!-- si agrega este campo al button podra navegar a la siguiente pagina si se Logea  -->
                        <!-- routerLink="/loginon" -->
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-sign-in-alt"></i>
                            Ingresar
                        </button>
                    </form>
                </div>
                <a href="#" class="card-link">Recuperar contraseña</a>
            </div>
        </div>
    </div>
</div>