<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <br>
                <form class="form" #companyForm="ngForm" (submit)="onSubmit()">
                    <fieldset>
                        <b>     <legend class="text-center header">Empresa</legend></b>
                        <em>Ingrese los siguientes datos:</em>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b> <label for="NIT">NIT</label></b>
                                <!-- [(ngModel)]="compa.id_company" -->
                                <input id="id_company" name="id_company" type="number" #id="ngModel" [(ngModel)]="compa.id_company" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b>  <label for="razon_social">Razon Social</label></b>
                                <!-- [(ngModel)]="compa.razon_social" -->
                                <input id="razon_social" name="razon_social" type="text" #razon="ngModel" [(ngModel)]="compa.razon_social" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b>    <label for="Departamento">Departamento</label></b>
                                <!-- [(ngModel)]="compa.departamento" -->
                                <input id="departamento" name="departamento" type="text" #departamento="ngModel" [(ngModel)]="compa.departamento" class="form-control" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b>     <label for="ciudad">Ciudad</label></b>
                                <!-- [(ngModel)]="compa.ciudad" -->
                                <input id="ciudad" name="ciudad" type="text" #ciudad="ngModel" [(ngModel)]="compa.ciudad" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b>      <label for="Representante">Representante legal</label></b>
                                <!-- [(ngModel)]="compa.representante_legal" -->
                                <input id="representante_legal" name="representante_legal" type="text" #repre="ngModel" [(ngModel)]="compa.representante_legal" class="form-control" required>
                            </div>
                        </div>



                        <!--    <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <select class="form-control" id="ciudad" name="ciudad" required> 
                                    <option>Seleccione una Opcion</option>
                                    <option>Armenia</option>
                                    <option>Pereira</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <select class="form-control" id="departamento" name="departamento" required> 
                                    <option>Seleccione una Opcion</option>
                                    <option>Quindio</option>
                                    <option>Risaralda</option>
                                  </select>
                            </div>
                        </div>-->


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <b>    <label for="objeto">Objeto Social</label></b>
                                <!-- [(ngModel)]="compa.objeto_social" -->
                                <input id="objeto_social" name="objeto_social" type="text" objeto="ngModel" [(ngModel)]="compa.objeto_social" class="form-control" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit"  class="btn btn-primary btn-lg" [disabled]="companyForm.invalid">Guardar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Razon Social</th>
                                <th scope="col">Representante Legal</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Objeto Social</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>