.header {
    color: darkcyan;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: white;
}

.form {
    width: 700px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color:darkgrey;
}

.container {
    background-color:darkgrey;
}