<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <!-- #companyForm="ngForm" -->
                <form class="mid-form" (submit)="onSubmit()">
                    <fieldset>
                        <legend class="text-center header">Registro Empresa</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #id="ngModel" -->
                                <!-- [(ngModel)]="compa.id_company" -->
                                <input id="id_company" name="id_company" type="text" [(ngModel)]="compa.id_company"
                                    placeholder="NIT" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #razon="ngModel" -->
                                <!-- [(ngModel)]="compa.razon_social" -->
                                <input id="razon_social" name="razon_social" type="text" [(ngModel)]="compa.razon_social"
                                    placeholder="Razon Social" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #departamento="ngModel" -->
                                <!-- [(ngModel)]="compa.departamento" -->
                                <input id="departamento" name="departamento" type="text" [(ngModel)]="compa.departamento"
                                    placeholder="departamento" class="form-control"
                                    required>
                                    
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #ciudad="ngModel" -->
                                <!-- [(ngModel)]="compa.ciudad" -->
                                <input id="ciudad" name="ciudad" type="text" [(ngModel)]="compa.ciudad"
                                    placeholder="ciudad" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #repre="ngModel" -->
                                <!-- [(ngModel)]="compa.representante_legal" -->
                                <input id="representante_legal" name="representante_legal" type="text" [(ngModel)]="compa.representante_legal"
                                    placeholder="Representante"
                                    class="form-control" required>
                            </div>
                        </div>



                        <!--    <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <select class="form-control" id="ciudad" name="ciudad" required> 
                                    <option>Seleccione una Opcion</option>
                                    <option>Armenia</option>
                                    <option>Pereira</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <select class="form-control" id="departamento" name="departamento" required> 
                                    <option>Seleccione una Opcion</option>
                                    <option>Quindio</option>
                                    <option>Risaralda</option>
                                  </select>
                            </div>
                        </div>-->


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"></span>
                            <div class="col-md-8">
                                <!-- #objeto="ngModel" -->
                                <!-- [(ngModel)]="compa.objeto_social" -->
                                <input id="objeto_social" name="objeto_social" type="text" [(ngModel)]="compa.objeto_social"
                                     placeholder="Objeto social" class="form-control"
                                    required>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <!-- [disabled]="companyForm.invalid" -->
                                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Razon Social</th>
                                <th scope="col">Representante Legal</th>
                                <th scope="col">Departamento</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Objeto Social</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--  <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>